.App {
  /* margin: 0; */
  background-color: #637EA2;
  letter-spacing: 1.5px;
  color: white;
}

a {
  display: block;
  text-decoration: none;
  color: rgb(66, 57, 57);
}

.level-item {
  font-weight: bold;
}

.profile-img {
  float: left;
  margin-right: 5%;
  width: 40%;
  border-radius: 50px;
  box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.3);
  margin-left: 30px;
}

.profile-bio {
  line-height: 30px;
}

.headers {
  width: 100%;
  padding: 10px;
  border-bottom: 2px solid white;
  text-align: center;
  margin: auto;
}


.level {
  padding: 20px 0;
  /* border: 1px solid black; */
  background-color: rgba(255, 243, 214, 0.801);
}

